.ExtraInfo {
  max-width: var(--xl);
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

.Title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1em;
  text-align: center;
}

.Title span {
  color: var(--blue-1);
}

.ExtraInfo p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  max-width: 834px;
}

.Link {
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  background: var(--blue-1);
  color: var(--wjhite);
  border: 1px solid var(--blue-1);
}

.Link:hover {
  border: 1px solid var(--white);
  color: var(--white);
}
