.Sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: var(--xl);
}

.TextBlue {
  color: var(--blue-1);
}

.SponsorImageWrapper {
  height: 90px;
  position: relative;
  width: 250px;
}

.StaffImageWrapper {
  height: 80px;
  position: relative;
  width: 120px;
}

.SponsorImage {
  object-fit: contain;
}

.superior.horizontal {
  width: 320px;
  height: 115px;
}
.superior.vertical {
  width: 150px;
  height: 150px;
}

.diamond.horizontal {
  width: 275px;
  height: 100px;
}
.diamond.vertical {
  width: 135px;
  height: 135px;
}

.gold.horizontal {
  width: 220px;
  height: 80px;
}
.gold.vertical {
  width: 120px;
  height: 120px;
}

.silver.horizontal {
  width: 190px;
  height: 65px;
}
.silver.vertical {
  width: 105px;
  height: 105px;
}

.bronze.horizontal {
  width: 155px;
  height: 50px;
}
.bronze.vertical {
  width: 90px;
  height: 90px;
}

.iron.horizontal {
  width: 115px;
  height: 40px;
}
.iron.vertical {
  width: 75px;
  height: 75px;
}

.ruby.horizontal {
  width: 90px;
  height: 35px;
}
.ruby.vertical {
  width: 60px;
  height: 60px;
}

.support.horizontal {
  width: 90px;
  height: 35px;
}
.support.vertical {
  width: 60px;
  height: 60px;
}

@media (min-width: 860px) {
  .Sponsors {
    max-width: var(--xl);
    padding: 4rem 1.5rem;
  }

  .superior {
    max-height: 100px;
    width: 30rem;
  }
}
