.Modal {
    background: transparent;
}

.ModalBody {
    background: transparent;
    height: 50vh;
}

.ModalWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: blue;
    overflow: hidden;
}

.ModalFrame {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}