.Counter {
    align-items: center;
    background-color: var(--black);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    padding: 38px 0;
}

.CounterList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.CounterListItem {
    background: var(--white);
    border-radius: 10px;
    border: 3px transparent solid;
    color: var(--white);
    cursor: default;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 600;
    height: 158px;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    transition-property: color, background-color, border-color;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    width: 221px;
}

.CounterListItem:nth-child(1) {
    background: var(--blue);
}

.CounterListItem:nth-child(2) {
    background: var(--red);
}

.CounterListItem:nth-child(3) {
    background: var(--orange);
}

.CounterListItem:nth-child(4) {
    color: var(--black);
}

.CounterListItem:hover {
    background: var(--white);
}

.CounterListItem:nth-child(1):hover {
    border-color: var(--blue);
    color: var(--blue);
}

.CounterListItem:nth-child(2):hover {
    border-color: var(--red);
    color: var(--red);
}

.CounterListItem:nth-child(3):hover {
    border-color: var(--orange);
    color: var(--orange);
}

.CounterListItem:nth-child(4):hover {
    background: var(--black);
    border-color: var(--white);
    color: var(--white);
}

.CounterListItem__time {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
}