.container {
  padding: 0 0.75rem;
}

.cards {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.carousel_prev a {
  background-color: transparent !important;
  left: -7rem !important;
}

.carousel_next a {
  background-color: transparent !important;
  right: -6rem !important;
}

.carousel_prev a span {
  background-color: #F9AB00;
  border-radius: 50%;
  padding: 10px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/154/154692.png?w=826&t=st=1664232308~exp=1664232908~hmac=2292da8fee0559a1696c89ed327b6769c6b24bac5ad9cd7c16a17fa9187041cc) !important;
  background-size: 70%;
  background-position: 4px;
}

.carousel_next a span {
  background-color: #F9AB00;
  border-radius: 50%;
  padding: 10px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/154/154697.png?w=826&t=st=1664232307~exp=1664232907~hmac=9d79e104c8814a8c9d283e222ca1301e876c0626b93e926dedb5b9bc430c4808) !important;
  background-size: 70%;
  background-position: 6px;
}

.card_container {
  border-radius: 5%;
  max-width: 350px;
  padding-top: 38px;
  margin-right: 1rem;
  cursor: pointer;
  height: 450px;
}

.card_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card_image {
  width: 159px;
  height: 159px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #dedede;
  margin-bottom: 25px;
  box-shadow: 0px 0px 0.91584px 0px #8AB4F8, 0px 0px 1.83168px 0px #8AB4F8, 0px 0px 6.41088px 0px #8AB4F8, 0px 0px 12.82177px 0px #8AB4F8, 0px 0px 21.98017px 0px #8AB4F8, 0px 0px 38.46531px 0px #8AB4F8;
}

.card_name {
  width: 100%;
  font-size: 24px;
  margin: 0;
}

.card_location {
  width: 100%;
  font-size: 14px;
  margin: 0 0 0.8rem 0;
}

.card_topic {
  width: 100%;
  font-size: 16px;
  color: #B0AEAE;
  margin: 0;
  margin-bottom: 10px;
}

.card_profile {
  width: 100%;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
}

.carousel_indicators {
  margin-top: 1rem;
}

.carousel {
  width: 100%;
}

.carousel_indicators button {
  opacity: none !important;
  background-color: #298ae4 !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
  border-radius: 50% !important;
}

.carousel_inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.button_container a {
  background: #298ae4;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  border-radius: 0.7rem;
  border: 3px solid #298ae4;
}

.button_container a:hover {
  background: transparent;
  color: #298ae4;
  border: 3px solid #298ae4;
}

.modal_header {
  padding: 32px 1.5rem 0 1.5rem;
  border: none;
}

.modal_header button {
  margin: 0 0 4rem 0 !important;
}

.modal_header .card_image {
  margin: 0;
}

.modal_header .card_image img {
  min-width: 110% !important;
  min-height: 110% !important;
  background: #dedede;
}

.modal_speaker_info_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.modal_speaker_info_content {
  width: 80%;
  margin-left: 1rem;
}

.modal_speaker_info_content h1 {
  font-size: 24px;
  margin: 0;
}

.modal_speaker_info_content p {
  margin: 0;
  font-size: 16px;
}

.modal_speaker_info_content p:first-of-type {
  color: #B0AEAE;
}

.modal_body {
  padding: 1rem 1.5rem 0 1.5rem;
}

.modal_body h2 {
  font-size: 1.35rem;
}

.modal_body p:last-of-type {
  margin: 0;
}

.modal_footer {
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.modal_footer a {
  padding: 1rem;
  cursor: pointer;
}

.modal_footer a svg {
  color: #000 !important;
}

@media (max-width: 360px) {
  .carousel_prev a {
    background-color: transparent !important;
    left: -2.5rem !important;
  }

  .carousel_next a {
    background-color: transparent !important;
    right: -1.8rem !important;
  }

  .modal_footer a {
    padding: 0.5rem;
    cursor: pointer;
  }
}

@media (max-width: 414px) {
  .carousel_prev a {
    background-color: transparent !important;
    left: -3rem !important;
  }

  .carousel_next a {
    background-color: transparent !important;
    right: -2rem !important;
  }

  .modal_footer a {
    padding: 0.6rem;
    cursor: pointer;
  }
}

.speakers_link:link {
  color: var(--blue)
}