.EventLocation h2 {
  font-size: 2.5rem;
}

.LocationContainer {
  color: var(--primary-text);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  gap: 3rem;
  text-align: left;
  margin-top: 3rem;
}

.LocationAddress {
  padding-top: 2rem;
  max-width: 400px;
}

.Map {
  flex: 1;
}