.EventLocation h2 {
  font-size: 2.5rem;
  width: min-content;
}

.LocationContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

.LocationContent {
  max-width: 25rem;
  padding-top: 2rem;
}

.LocationAddress {
  color: var(--primary-text);
}

.LocationContent::after {
  background: var(--primary-text);
  content: "";
  display: flex;
  height: 1px;
  opacity: 0.20;
  width: 100%;
  margin-top: -0.2rem;
}

.Map {
  flex: 1;
}

@media (min-width: 768px) {
  .LocationContainer {
    gap: 3rem;
    text-align: left;
  }
}