.EventLocation {
  padding: 1rem;
  max-width: var(--xl);
  margin: 0 auto;
}

.EventLocationHeader {
  max-width: var(--xl);
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

.Title {
  font-family: Google Sans;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1em;
  text-align: center;
}

.Title span {
  color: var(--blue-1);
}

.ExtraInfo p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  max-width: 834px;
}

.LocationContainer aside {
  gap: 1.123rem;
  display: flex;
  flex-direction: column;
}
.LocationDescription {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.LocationAddress {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
}

.MapContainer {
  margin-top: 4rem;
  background-color: var(--gray-2);
  padding: 1rem;
  overflow: hidden;
  border-radius: 8px;
}

.Map {
  border-radius: 8px;
  width: 100%;
  min-height: 395px;
}

@media only screen and (min-width: 760px) {
  .LocationContainer {
    gap: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 3rem;
  }

  .MapContainer {
    flex-grow: 1;
    margin-top: 0;
  }
}
