.SponsorSection {
    margin-bottom: 100px;
}

.SponsorSection h2 {
    font-size: 2.5rem;
    padding-left: 0.75rem;
}

.SponsorWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(152px, 20%), 1fr));
    grid-gap: 8px;
    padding: 20px 0px;
    margin: 0px 5px;
}


.StaffWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 8px;
    padding: 20px 0px;
    margin: 0px 5px;
}

.SponsorCard {
    background-color: var(--default-background-color);
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 7%), 0 2px 2px 0 rgb(0 0 0 / 15%);
    transition: box-shadow var(--animation);
    cursor: pointer;
    padding: 24px 16px;
    height: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.SponsorCardBody {
    position: relative;
    width: 270px;
    height: 90px;
    display: flex;
    justify-content: center;
}

.SponsorCardBodyImage {
    width: 100%;
    max-width: 248px;
    object-fit: contain;
}

#sponsors {
    margin: 10px 0px;
}

@media only screen and (max-width: 580px) {

    .ConectorImage {
        width: 0px;
    }
}