.footer_content {
  width: 100%;
  margin-bottom: 41px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 240px;
  list-style: none;
}
.footer_logo {
  width: 155px;
  height: 33px;
}

.footer_register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdd46d;
  width: 164px;
  height: 33px;
  border-radius: 10px;
}
.footer_content_social {
  color: black;
  display: flex;
  align-items: center;
}
.footer_content_social_icon{
  margin-right: 15px;
}
@media (max-width: 600px) {
  .footer_content {
    flex-direction: column;
  }
}
