@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

:root {
  --blue: #3270EB;
  --blue2: #4285F4;
  --red: #CB4538;
  --orange: #E59F38;
  --white: #fefefe;
  --black: #1A1D1C;
  --green: #00b698;
  --blue-light: #E4F4FF;
  --soft-blue: #46b3dc;
  --soft-blue2: #00AAE9;
  --soft-blue3: #95D4FF;
  --soft-green: #00df9d;
  --soft-green-light: #00d193;
  --pink: #E41AE1;
  --primary-text: #393D40;
  --secondary-text: #848484;

  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1440px;
}

.bg-blue2 {
  background-color: var(--blue2);
}

.bg-soft-green {
  background-color: var(--soft-green);
}

.bg-soft-blue {
  background-color: var(--soft-blue);
}

.bg-pink {
  background-color: var(--soft-pink);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter var', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter', sans-serif;
  }
}

a {
  color: var(--blue);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 1026px) {
  .hideSmall {
    display: none;
  }
}


#__next {
  position: absolute;
  top: 0px;
  width: 100%;
}

.absolute-position {
  position: absolute;
  top: 0px;
  width: 100%;
  overflow-x: hidden;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}


.DangerButton {
  padding: 15px 15px;
  background-color: var(--red);
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.DangerButton:hover {
  border: 3px var(--red) solid;
  color: var(--red);
  background-color: var(--white);
}

.DisableButton {
  background-color: #ccc;
  color: #fff;
}

.TicketFeatures::before {
  content: url('/check.svg');
  padding-right: 0.5rem;
}

html {
  font-size: 12px;
}

.gdg-line {
  width: fit-content;
}

.gdg-line::after {
  background: linear-gradient(90deg, #c00, #d74206 10%, #e38c0c 30%, #eecd11 40%, #15ff28 70%, #1559ff);
  content: "";
  display: flex;
  height: 0.15rem;
  width: 75%;
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}