.BgWrap {
  height: 300px;
  width: 100%;
  z-index: -1;
}

.BgImageFull {
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.MainInnerFull {
  width: 100%;
  padding: 0px 10% 20px;
  display: flex;
  text-shadow: 1px 1px 1px var(--white);
}

.MainInnerFullDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.MainDescriptionMinWrapper {
  display: none;
}

.RegisterButton {
  padding: 15px 20px;
  background-color: var(--black);
  color: white;
  width: 164px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

.RegisterButton:hover {
  border: 3px var(--black) solid;
  color: var(--black);
  background-color: transparent;
}

.ScrollDown {
  margin-top: 30px;
  color: currentColor;
  user-select: none;
  cursor: pointer;
}

.ScrollDownSvg {
  width: 24px;
  opacity: 0.6;
}

.ScrollDownStroke {
  stroke: currentColor;
}

.ScrollDownScroller {
  fill: currentColor;
  animation: updown 2s infinite;
}


@keyframes updown {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(0, 5px)
  }

  100% {
    transform: translate(0, 0)
  }
}

.Section {
  margin-top: 180px;
}

@media only screen and (min-width: 800px) {
  .BgWrap {
    height: 70vh;
  }

  .MainInnerFullDescription {
    flex-direction: row;
    justify-content: space-between;
  }
}