.BgWrap {
  height: 26dvh;
  width: 100%;
  z-index: -1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.MainDescriptionMinWrapper {
  display: none;
}

.ScrollDown {
  margin-top: 30px;
  color: currentColor;
  user-select: none;
  cursor: pointer;
}

.ScrollDownSvg {
  width: 24px;
  opacity: 0.6;
}

.ScrollDownStroke {
  stroke: currentColor;
}

.ScrollDownScroller {
  fill: currentColor;
  animation: updown 2s infinite;
}


@keyframes updown {
  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(0, 5px)
  }

  100% {
    transform: translate(0, 0)
  }
}

.Section {
  margin-top: 100px;
}

@media (min-width: 992px) {

  .BgWrap {
    height: 70vh;
  }
}