.LoginWrapper {
  max-width: var(--sm);
  display: flex;
  margin-inline: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

.LoginFormInput {
  padding: 0.5rem;
  border-radius: 0.75rem;
  width: 100%;
}

.LoginButton {
  margin-top: 2rem;
  border-radius: 0.75rem;
  cursor: pointer;
  line-height: 1.125rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: all 150ms ease-out;
  font-weight: 700;
  font-size: 0.875rem;
  background: var(--blue-1);
  border: 1px solid var(--blue-1);
  color: var(--white);
}

.LoginButton:hover {
  border: 1px solid var(--white);
  color: var(--white);
}
