.CardBorder {
  background: linear-gradient(
    180deg,
    rgb(25, 182, 236) 0%,
    rgb(1, 250, 181) 100%
  );
  border-radius: 10px;

}
.CardWrapper {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 7.5px;
  text-align: center;
}
.SpeakerName {
  color: #4285f4;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.Instagram {
  font-weight: 400;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
.Description {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
}
.SpeakerImg{
    width: 50%;
}