.CountdownItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CircleTimerContainer {
  position: relative;
  width: 168px;
  height: 168px;
}

@media only screen and (min-width: 632px) and (max-width: 840px) {
  .CountdownItem:last-child {
    display: none;
  }
}

.Marker {
  position: absolute;
  top: 45%;
  height: clamp(24px, min(1vw, 1vh), 4px);
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  transition: background 0.2s;
  z-index: 1;
}

.Marker.MarkerActive {
  background: linear-gradient(
    270deg,
    #4285f4 0%,
    #af50bb 32.21%,
    #d93a53 65.38%,
    #f2c438 100%
  );
  background-clip: border-box;
  box-shadow: 0 0 8px #4285f488;
  z-index: 2;
}

.CountdownItemValue {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
  pointer-events: none;
  z-index: 10;
}

.CountdownItemLabel {
  margin-top: 24px;
  font-size: 1.125em;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
}
