.ScheduleSection {
    padding-top: 100px;
    background: linear-gradient(180deg,
            rgba(1, 244, 198, 0.2) 0%,
            rgba(255, 255, 255, 0) 100%);
}

.ScheduleWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.ScheduleTable {
    width: 60%;
}

.ScheduleHeader {
    margin-top: 60px;
    padding: 10px 10px;
    background-color: var(--blue2);
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--blue2);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.ScheduleBody {
    background-color: #F8F8F8;
}

.ScheduleItem {
    padding: 20px 40px;
}

.ScheduleTime {
    font-size: 16px;
    font-weight: 700;
}

.SpeakerTopic {
    font-weight: bold;
}