.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: var(--xl);
  padding: 1rem 1.5rem;
  margin: 0 auto;

  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  background-color: var(--black);

  padding-bottom: 90px;
}

.HeaderHidden {
  transform: translateY(-100%);
}

.HeaderNavContainer {
  display: none;
  flex: 1;
  align-items: center;
  gap: 1rem;
}

.HeaderNav {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  width: fit-content;
}

.HeaderNavItem {
  cursor: pointer;
  white-space: nowrap;
  padding: 0.75rem 1rem;
}

.HeaderNavItem a {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.HeaderNavItem a:hover {
  transition: all 150ms ease-out;
  color: var(--blue-1);
}

.HeaderButtonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
  margin: 0;
  gap: 1rem;
}

.ButtonGroupMobileOnly {
  position: absolute;
  top: 50px;
  max-width: 100%;
  margin: 1rem auto;
  width: calc(100% - 3rem);
}

@media (max-width: 768px) {
  .HeaderButtonGroup {
    flex-grow: 1;
    justify-content: space-around;
  }
}

.HeaderButton {
  border-radius: 0.75rem;
  cursor: pointer;
  line-height: 1.125rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: all 150ms ease-out;
  font-weight: 700;
  font-size: 0.875rem;
}

.HeaderSponsorButton {
  background: none;
  border: 1px solid var(--white);
  color: var(--blue-1);
}
.HeaderSponsorButton:hover {
  border: 1px solid var(--blue-1);
}

.HeaderSubscribeButton {
  background: var(--blue-1);
  border: 1px solid var(--blue-1);
  color: var(--white);
}

.HeaderSubscribeButton:hover {
  border: 1px solid var(--white);
  color: var(--white);
}

.Collapse {
  height: 0px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 250ms ease-in-out;
  width: 100%;
  z-index: 2;
}

.CollapseHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.HeaderNavContainerOpened {
  align-items: center;
  background-color: var(--black);
  height: 100vh;
  z-index: 1000;
}

.HeaderNavContainerOpened ul {
  margin-block-start: 2.5rem;
  padding: 0 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.HeaderNavContainerOpened .HeaderNavItem {
  border-bottom: 0px solid rgba(255, 255, 255, 0.2);
  padding: 0;
}
.HeaderNavContainerOpened .HeaderNavItem:hover {
  background-color: rgba(63, 63, 63, 0.1);
}
.HeaderNavContainerOpened .HeaderNavItem:active,
.HeaderNavContainerOpened .HeaderNavItem:focus {
  opacity: 0.6;
  transition: opacity 250ms ease-in;
}
.HeaderNavContainerOpened .HeaderNavItem a {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Collapse .toggler_btn {
  display: flex;
  margin-left: auto;
  border: 0;
}

.toggler_btn {
  border-color: transparent !important;
  border-radius: 50%;
  padding: 0;
}
.toggler_btn:focus,
.toggler_btn:active {
  outline: none;
  box-shadow: none;
  box-shadow: transparent;
}
.toggler_btn:hover {
  background-color: hsl(210deg 2% 80% / 10%);
}

@media (min-width: 768px) {
  .HeaderNavContainer,
  .HeaderSubscribeButton {
    display: flex;
  }
  .ButtonGroupMobileOnly {
    display: none;
  }

  .Header {
    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .toggler_btn,
  .Collapse {
    display: none;
  }
}
