.InfiniteBanner {
  width: 100%;
  max-width: var(--xl);
  overflow: hidden;
  position: relative;
}

.InfiniteBannerWrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 1rem 0;
}

.InfiniteBannerWrapper::before,
.InfiniteBannerWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 70px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.InfiniteBannerWrapper::before {
  left: -5px;
  background: linear-gradient(to right, var(--black) 0%, transparent 100%);
}

.InfiniteBannerWrapper::after {
  right: -5px;
  background: linear-gradient(to left, var(--black) 0%, transparent 100%);
}

.InfiniteBannerTrack {
  display: inline-flex;
  gap: 2rem;
}

.InfiniteBannerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 302px;
  height: 72px;
  font-size: 1.125rem;
  background-image: url("/devfest-2025/ticket.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
