.TicketsWrapper {
  max-width: var(--xl);
  width: 100%;
  gap: 2.5rem;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 0;
}

.TicketWrapper {
  padding: 82px 30px;
  background-image: url(../../../assets/images/ticket.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  font-size: 0.75rem;
  min-width: 308px;
  width: 100%;
  border-radius: 8px;
}

.TicketWrapper p {
  font-size: 1.5rem;
}

.TicketWrapper header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Price {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.PriceBatch {
  font-size: 0.875rem;
  color: var(--ice);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: var(--gray-2);
  border-radius: 64px;
}

.PriceValue {
  font-size: 2.5rem;
  line-height: 3.75rem;
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SoldOutPrice {
  color: var(--gray-2);
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.SellIcon {
  background-color: var(--green-1);
  padding: 8px;
  border-radius: 100%;
  border: 2px solid var(--basic-gray);
  margin-left: -5px;
}

.SoldOutSellIcon {
  background-color: var(--gray-2);
}

.Shirt {
  padding: 1rem 1rem;
  gap: 0.625rem;
  display: flex;
  font-size: 1rem;
  line-height: 1rem;
  width: 100%;
  height: 58px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-2);
  border-radius: 8px;
}

@media (min-width: 460px) {
  .TicketWrapper {
    padding-inline: 40px;
    max-width: 410px;
  }

  .Shirt {
    font-size: 1.125rem;
    padding: 1rem 3.125rem;
  }
}

.Separator {
  width: 100%;
  border-top: 2px dashed var(--gray-2);
  margin-bottom: 0.5rem;
}

.NoShirt {
  margin-top: 74px;
}

.Benefits {
  font-size: 1.125rem;
  width: 100%;
  text-align: left;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}
.Benefits li {
  position: relative;
  padding-left: 22px;
}
.Benefits li:before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background: var(--gradient-1);
  position: absolute;
  left: 0;
  top: 7px;
  border-radius: 12px;
}

.TicketButton {
  border-radius: 0.75rem;
  cursor: pointer;
  line-height: 1.125rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: all 150ms ease-out;
  font-weight: 700;
  font-size: 0.875rem;
  background: var(--blue-1);
  border: 1px solid var(--blue-1);
  color: var(--white);
  width: 194px;
}

.TicketButton:hover {
  border: 1px solid var(--white);
  color: var(--white);
}

.TicketButtonDisabled,
.TicketButtonDisabled:hover {
  pointer-events: none;
  background: var(--gray-2);
  border: 1px solid var(--gray-2);
}
