.Presentation {
  max-width: var(--md2);
  padding: 4rem 1.5rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 431px) {
  .Presentation {
    padding: 4rem;
  }
}

.Title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1em;
  max-width: 54rem;
}

.Title span {
  color: var(--blue-1);
}

.Presentation p {
  margin: 0;
  padding: 0;
  max-width: 54rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.TagList {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.Tag {
  border-radius: 64px;
  padding: 0.5rem 1rem;
  gap: 0.625rem;
  display: flex;
  font-size: 1.125rem;
  line-height: 1rem;
  width: fit-content;
  align-items: center;

  border: 1px solid transparent;
  background: linear-gradient(var(--black), var(--black)) padding-box,
  linear-gradient(270deg, #4285F4 0%, #AF50BB 32.21%, #D93A53 65.38%, #F2C438 100%) border-box;
}

.Link {
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  background: var(--blue-1);
  color: var(--wjhite);
  border: 1px solid var(--blue-1);
}

.Link:hover {
  border: 1px solid var(--white);
  color: var(--white);
}
