.Section {
  position: relative;
  background-image: url('/banner/hero-sm.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.Content {
  align-items: center;
  color: var(--white);
  display: flex;
  font-family: 'Roboto Mono', monospace;
  flex-direction: column-reverse;
  height: calc(100vh - 82px);
  justify-content: center;
  max-width: var(--xl);
  margin: 0 auto;
  padding: 9rem 4.5rem;
}

.Texts {
  align-content: center;
  display: grid;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.IconSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
}

.IconItem {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.IconItem:nth-child(2) {
  gap: 0.5rem;
}

.Aside {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
}

.Aside p {
  padding-bottom: 2rem;
}

.AsideButton {
  background-color: var(--blue2);
  border: none;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  padding: 1.1rem;
}

.AsideButton:hover {
  filter: brightness(0.9);
  color: var(--white);
  transition: filter 250ms ease-in;
}

.AsideButton:active {
  filter: brightness(0.8);
}

.ArrowIcon {
  bottom: -3.2rem;
  right: -2rem;
  position: absolute;
}

@media (min-width: 640px) {
  .Section {
    background-image: url('/banner/hero-md.png');
    background-size: 100% 100%;
  }
}

@media (min-width: 768px) {
  .Content {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .Section {
    background-image: url('/banner/hero-lg.png');
  }
}

@media (min-width: 1440px) {
  .Section {
    background-image: url('/banner/hero-xl.png');
  }
}