.Container {
  margin-top: 6.25rem;
}

.Header {
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0 0.5rem;
}

.Title {
  background-color: var(--soft-blue2);
  border-radius: 7px;
  color: var(--white);
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  font-weight: medium;
  padding: 0 1rem;
  width: min-content;
}

.HeaderText {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}